$background-theme-color: #FFFFFF;
$black-theme-color: #000000;
$theme-color: #FFA687;
$theme-color-border: #dd6b44;
$light-grey-theme-color: #EDEDED;
$dark-grey-theme-color: #A2A2A2;
$gutter: 10px; // Base gutter
$items-background: #F9F5F4;