$theme-color: #FFA687;
$grey: #EDEDED;
.btn-theme-default {
    background-color: $theme-color;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    &:hover {
        background-color: #000;
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
    }
}

.input-theme-default {
    border-radius: 0;
    &:focus {
        border: 1px solid $theme-color;
    }
}

.breadcumb-custom {
    background-color: inherit;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin: 5px 0;
    li {
        font-size: 12px;
        &.active {
            color: $theme-color;
        }
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                color: $theme-color;
                -webkit-transition: all 200ms ease;
                transition: all 200ms ease;
            }
        }
        .fa {
            color: #79706D;
        }
    }
}

h3 {
    color: $theme-color;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}

p,
label {
    color: #555;
    display: block;
    font-size: 12px;
}

label {
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.contact {
    margin-top: 50px;
    margin-bottom: 50px;
    .form-signin {
        padding-top: 30px;
    }
    .login-left {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }
    .login-right {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }
}

@media (max-width: 47.9em) {
    /* Login template */
    .contact {
        .login-left {
            display: block;
            width: 100%;
        }
    }
}