@import 'variables';
@font-face {
    font-family: 'Emperial', 'HelveticaNeueLTStd';
    src: url('../fonts/EMPERIAL.ttf');
    src: url('../fonts/HelveticaNeueLTStd-Cn.otf');
    src: url('../fonts/HelveticaNeueLTStd-ThCn.otf');
    src: url('../fonts/HelveticaNeueLTStd-BlkCn.otf');
}

// Latest CSS box model 
*,
*:after,
*:before {
    box-sizing: border-box;
}

h4,
h5,
h6,
h1,
h2,
h3 {
    margin-top: 0;
}

ul,
ol {
    margin: 0;
}

p {
    margin: 0;
}

html,
body {
    font-size: 100%;
    background: $background-theme-color;
}


/* Helpers */

.on-hover {
    color: $theme-color;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.width-33 {
    width: 33%;
    display: inline-block;
}

.hidden {
    display: none !important;
}

.input-theme-default {
    border-radius: 0;
    &:focus {
        border: 1px solid $theme-color;
    }
}

.btn-theme-default {
    background-color: $theme-color;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    &:hover {
        background-color: #000;
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
    }
}

.fa {
    color: #79706D;
}


/* Logo */

.sr {
    height: 1px;
    width: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
}


/* Navigation */

.animenu__toggle {
    display: none;
    cursor: pointer;
    background-color: $theme-color;
    color: rgba(256, 256, 256, .5);
    border: 0;
    padding: 10px;
    height: 50px;
    width: 100%;
    &:hover {
        color: $background-theme-color;
    }
}

.animenu__toggle__bar {
    display: block;
    width: 20px;
    height: 3px;
    background-color: $background-theme-color;
    transition: .15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
    &+.animenu__toggle__bar {
        margin-top: 4px;
    }
}

.animenu__toggle--active {
    .animenu__toggle__bar {
        margin: 0;
        position: absolute;
        &:nth-child(1) {
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

// Clear some defaults
.animenu {
    display: block;
    ul {
        padding: 0;
        list-style: none;
    }
    li,
    a {
        display: inline-block;
    }
    a {
        text-decoration: none;
    }
}

.animenu__nav {
    >li {
        position: relative;
        >a {
            padding: $gutter 3 * $gutter;
            color: $black-theme-color;
        }
        &:hover {
            >ul {
                opacity: 1;
                visibility: visible;
                margin: 0;
            }
            >a {
                @extend .on-hover;
            }
        }
    }
}

.animenu__nav__child {
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin: 2 * $gutter 0 0 0;
    transition: margin .15s, opacity .15s;
    >li {
        width: 100%;
        &:first-child>a:after {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            left: 1em;
            top: -6px;
            border: 6px solid transparent;
            border-top: 0;
            border-bottom-color: inherit;
        }
        &:last-child {
            border: 0;
        }
    }
    a {
        padding: $gutter;
        width: 100%;
        &:hover {
            background-color: $theme-color;
            border-color: $theme-color;
            color: $background-theme-color;
        }
    }
}


/* Social icons */

$si: si;
$image-url:'../images/VectorSmartObject';
@for $i from 1 through 6 {
    .#{$si}#{$i} {
        width: 35px;
        height: 34px;
        display: inline-block;
        background-image: url(#{$image-url}#{$i}#{'.png'});
    }
}


/* -- Start Header -- */

.header-top {
    background: $black-theme-color;
    position: relative;
    .header_top_left {
        display: inline-block;
        width: 30%;
    }
    span {
        color: $background-theme-color;
        font-size: 11px;
        text-transform: uppercase;
    }
    .header-top-right {
        display: inline-block;
        width: 23%;
        .header-dropdown {
            background-color: inherit;
            color: $background-theme-color;
            border: none;
            font-size: 11px;
            overflow: hidden;
            $background-theme-color-space: nowrap;
            text-transform: uppercase;
            &:hover {
                color: $theme-color;
            }
            option {
                background: $theme-color;
            }
        }
        .fa {
            color: $background-theme-color;
        }
        .item::before {
            border-left: 1px solid $light-grey-theme-color;
            height: 100%;
            padding: 10px;
        }
        .dropdown-menu {
            background-color: $theme-color;
            border-radius: 0;
            a {
                background-color: $theme-color;
                &:hover {
                    background-color: $background-theme-color;
                    @extend .on-hover;
                }
            }
        }
    }
}

.header-bottom {
    padding-top: 30px;
    .header-bottom-left {
        @extend .width-33;
        .logo {
            a {
                display: block;
                background: url('../images/logo.png') no-repeat;
                height: 120px;
                background-size: 180px 40px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .header-bottom-center {
        width: 44%;
        display: inline-block;
        padding-top: 35px;
    }
    @media screen and (max-width: 767px) {
        .animenu__toggle {
            display: inline-block;
            margin-bottom: 5px;
        }
        .animenu__nav,
        .animenu__nav__child {
            display: none;
        }
        .animenu__nav {
            margin: $gutter 0;
            >li {
                width: 100%;
                border-right: 0;
                &:last-child {
                    border: 0;
                }
                &:first-child>a:after {
                    content: '';
                    position: absolute;
                    height: 0;
                    width: 0;
                    left: 1em;
                    top: -6px;
                    border: 6px solid transparent;
                    border-top: 0;
                    border-bottom-color: inherit;
                }
                >a {
                    width: 100%;
                    padding: $gutter;
                    ;
                    position: relative; //dropdown caret
                }
            }
            a:hover {
                background-color: $theme-color;
                border-color: $theme-color;
                color: $black-theme-color;
            }
        }
        .animenu__nav__child {
            position: static;
            margin: 0;
            transition: none;
            visibility: visible;
            opacity: 1;
            >li:first-child>a:after {
                content: none;
            }
            a {
                padding-left: 2 * $gutter;
                width: 100%;
            }
        }
    }
    .animenu__nav--open {
        display: block !important;
        & .animenu__nav__child {
            display: block;
        }
        li {
            a:hover {
                color: $background-theme-color;
            }
        }
    }
}

.header-bottom-right {
    width: 22%;
    display: inline-block;
    padding-top: 35px;
    div {
        border: 1px solid $light-grey-theme-color;
        a,
        span {
            color: #9D9D9D;
            font-size: 12px;
            text-decoration: none;
            padding-left: 10px;
        }
        a:hover {
            @extend .on-hover;
        }
        .fa {
            color: #9D9D9D;
            padding: 0 5px 0 10px;
        }
    }
    .shopping-items {
        background: #FAFAFA;
    }
}


/* -- End Header -- */


/* -- Start Footer -- */

.footer {
    .footer-top {
        background-color: $light-grey-theme-color;
        padding: 50px 0;
        h3 {
            color: #414141;
            font-size: 20px;
            ;
            font-weight: 600;
        }
        .footer_list {
            padding: 0;
            list-style: none;
            li {
                a {
                    color: #777;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.8em;
                    &:hover {
                        @extend .on-hover;
                    }
                }
            }
        }
        .footer_social {
            padding: 0;
            width: 100px;
            list-style: none;
        }
    }
    .footer-bottom {
        background-color: $black-theme-color;
        color: #999;
        font-size: 12px;
        .footer-menu {
            padding: 0;
            li {
                display: inline-block;
                padding-top: 5px;
                a {
                    text-decoration: none;
                    color: #999;
                    &:hover {
                        @extend .on-hover;
                    }
                }
            }
        }
    }
}


/* -- End Footer -- */


/* -- Start Home Template -- */

.carousel-inner {
    margin-top: 50px;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .carousel-item-title {
        position: absolute;
        width: 30%;
        left: 10%;
        top: 10%;
        height: auto;
    }
    .btn-theme-default {
        position: absolute;
        top: 80%;
        left: 20%;
    }
    .carousel-indicators>li {
        width: 3px;
    }
    .custom-arrows {
        width: 0;
    }
}

.search-social-section {
    background-color: $light-grey-theme-color;
    margin: 50px 0;
    p {
        font-size: 14px;
        display: inline-block;
    }
    input {
        margin: 10px 0 10px 10px;
    }
    a {
        display: inline-block;
        width: 40px;
        height: 100%;
        &:hover {
            background-color: lightgray;
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
        }
        .fa {
            padding: 15px;
            font-size: 20px;
        }
    }
    button {
        vertical-align: inherit;
    }
}

.category-section {
    .row {
        .col {
            padding: 0;
            margin: 0;
            .img-category {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    div {
        .img-category {
            position: absolute;
        }
    }
}

.products-section {
    margin: 50px 0;
}

.about-us-section {
    margin: 50px 0;
    h1 {
        font-size: 26px;
        text-align: center;
    }
    p {
        font-size: 16px;
        text-align: center;
        color: $dark-grey-theme-color;
    }
}


/* -- End Home Template -- */


/* -- Start Login and Register template --*/

.btn-margin {
    margin-top: 20px;
}

.breadcumb-custom {
    background-color: inherit;
    border-top: 1px solid $light-grey-theme-color;
    border-bottom: 1px solid $light-grey-theme-color;
    margin: 5px 0;
    li {
        font-size: 12px;
        &.active {
            color: $theme-color;
        }
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                color: $theme-color;
                -webkit-transition: all 200ms ease;
                transition: all 200ms ease;
            }
        }
    }
}

h3 {
    color: $theme-color;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}

p,
label {
    color: #555;
    display: block;
    font-size: 12px;
}

label {
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.contact {
    margin-top: 50px;
    margin-bottom: 50px;
    .form-user-control {
        padding-top: 30px;
    }
    .display-left {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }
    .display-right {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }
}


/* -- End Login and Register template --*/


/*-- Responsive --*/


/* Large devices (desktops, less than 75em) 1024px*/

@media (max-width: 74.9em) {
    html::after {
        display: none;
        content: 'mobile'
    }
    body::before {
        content: "Large devices (desktops, less than 75em)";
        display: block;
        text-align: center;
        background: rgba(0, 150, 150, 0.5);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        color: $background-theme-color;
        z-index: 10000;
    }
    /* -- START HOME PAGE RESPONSIVE -- */
    .container {
        width: 1004px;
    }
    .header-top {
        .header_top_right {
            width: 29%;
        }
    }
    .header-bottom {
        .header-bottom-left {
            width: 33%;
        }
    }
    /* -- END HOME PAGE RESPONSIVE -- */
}


/* Medium devices (tablets, less than 62em) 768px */

@media (max-width: 61.9em) {
    body::before {
        content: "Medium devices (tablets, less than 62em)";
    }
    .container {
        width: 758px;
    }
    /* -- START HOME PAGE RESPONSIVE -- */
    .header-top {
        .header_top_right {
            width: 30%;
        }
    }
    .header-bottom {
        padding-top: 0;
        .header-bottom-left {
            width: 50%;
            .logo {
                a {
                    background-size: 230px 55px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        .header-bottom-center {
            width: 50%;
        }
        .header-bottom-right {
            padding-top: 0;
            padding-left: 15px;
        }
    }
    /* -- END HOME PAGE RESPONSIVE -- */
}

@media (max-width: 580px) {
    /* -- START HOME PAGE RESPONSIVE -- */
    .header-top-left {
        display: none;
    }
    .header-top-right {
        width: 100%;
    }
    /* -- END HOME PAGE RESPONSIVE -- */
}


/* Small devices (landscape phones, less than 48em) 500px */

@media (max-width: 47.9em) {
    body::before {
        content: "Small devices (landscape phones, less than 48em)";
    }
    /* -- START HOME PAGE RESPONSIVE -- */
    .container {
        width: 100%;
    }
    .header-top {
        .container {
            width: 490px;
        }
        .header_top_right {
            width: 48%;
        }
    }
    .header-bottom {
        .header-bottom-left {
            width: 100%;
            display: inline-block;
        }
        .header-bottom-center {
            width: 100%;
            padding-top: 0;
        }
        .header-bottom-right {
            width: 100%;
            padding: 0;
        }
    }
    .carousel-inner {
        display: none;
    }
    .search-social-section {
        background-color: $background-theme-color;
        p {
            display: none;
        }
        input {
            width: 80%;
        }
    }
    /* -- END HOME PAGE RESPONSIVE -- */
    /* -- START Login and Register template RESPONSIVE -- */
    .display-left {
        display: block;
        width: 100%;
        text-align: center;
    }
    .display-right {
        display: block;
        width: 100%;
        text-align: center;
    }
    /* -- END Login and Register template RESPONSIVE -- */
}


/* Extra small devices (portrait phones, less than 34em) 320px*/

@media (max-width: 33.9em) {
    body::before {
        content: "Extra small devices (portrait phones, less than 34em)";
    }
    /* -- START HOME PAGE RESPONSIVE -- */
    .header-top {
        .container {
            width: 310px;
        }
    }
    .header-bottom {
        .header-bottom-left {
            .logo {
                a {
                    background-size: 200px 50px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            width: 100%;
        }
    }
    .search-social-section {
        button {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            padding: 0;
        }
    }
    /* -- END HOME PAGE RESPONSIVE -- */
}