<div class="container">   
    <ol class="breadcrumb breadcumb-custom">
      <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i></li>
      <li class="breadcrumb-item"><a href="#/home">Home</a></li>
      <li class="breadcrumb-item active">Admin</li>
    </ol>
</div>

<div class="container contact">
      <div class="display-right">
          <h3>Admin settings</h3>
          <p>You can add new products or remove old ones.</p>
         <form id="create-product-form" class="form-user-control">
            <label for="name">Name</label><input type="text" name="name" id="name">
            <label for="price">Price</label><input type="text" name="price" id="price">
            <label for="description">Description</label><textarea name="description" id="description" cols="40" rows="4"> </textarea>
            <input type="file" name="image">

            <input type="submit" value="Create">
            
         </form>
      </div>

   
</div>