<div class="container">   
    <ol class="breadcrumb breadcumb-custom">
      <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i></li>
      <li class="breadcrumb-item"><a href="#/home">Home</a></li>
      <li class="breadcrumb-item active">Login</li>
    </ol>
</div>

<div class="container contact">
      <div class="display-left">
          <h3>New Customers</h3>
          <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
          <a class="btn btn-theme-default" href="#/register">Create an Account</a>
      </div>
      <div class="display-right">
          <h3>Registered Customers</h3>
          <p>If you have an account with us, please log in.</p>
         <form id="login-form" class="form-user-control">
           <label for="username">Username*</label>
          <input type="text" id="username" class="form-control input-theme-default" name="username" required="" autofocus="" />
          <label for="password">Password*</label>
          <input type="password" id="password" class="form-control input-theme-default" name="password" required=""/>
          <div class="btn-margin">
            <button class="btn btn-theme-default" type="submit">Login</button>  
         </div> 
        </form>
      </div>

   
</div>