 <div class="container">   
    <ol class="breadcrumb breadcumb-custom">
      <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i></li>
      <li class="breadcrumb-item"><a href="#/home">Home</a></li>
      <li class="breadcrumb-item active">All products</li>
    </ol>

    <div class="row">
        <div class="col col-md-9 col-sm-12">
            <section class="products-list">
                    <div class="row">
                        {{#each products}}
                        <div class="col col-md-4 col-sm-6 col-12">
                                <div class="product-card">
                                    <a href="#/products/product/{{this._id}}">
                                        <img class="responsive-image" src="https://glacial-stream-31964.herokuapp.com/api/products/image/{{this.image}}">
                                    </a>
                                    <div class="info-item">
                                        <p class="info-item-name">{{this.name}}</p>
                                        <p class="info-item-price">$ {{this.price}}</p>
                                        <button class="btn btn-theme-default">Add to cart <i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>

            </section>
        </div>
        <div class="col col-md-3 col-sm-12 table-categories">
            <table>
                <tr>
                    <th>Categories</th>
                </tr>
                <tr>
                    <td><a href="#/products/category/women"> Women</a></td>
                </tr>
                <tr>
                    <td><a href="#/products/category/men"> Men</a></td>
                </tr>
                <tr>
                    <td><a href="#/products/category/accessories"> Accessories</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

