 <div class="row slick-item">
        {{#each this}}
                <div class="product-item">
                    <a href="#/products/products/image/{{this._id}}">
                        <img class="responsive-image" src="http://localhost:1337/api/products/image/{{this.image}}">
                    </a>
                    <div class="info-item">
                        <p class="info-item-name">{{this.name}}</p>
                        <p class="info-item-price">$ {{this.price}}</p>
                        <button class="btn btn-theme-default">Add to cart</button>
                    </div>
                </div>
        {{/each}}
</div>