<div class="container">   
    <ol class="breadcrumb breadcumb-custom">
      <li class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i></li>
      <li class="breadcrumb-item"><a href="#/home">Home</a></li>
      <li class="breadcrumb-item"><a href="#/profile">Profile</a></li>
      <li class="breadcrumb-item active">Upload Settings</li>
    </ol>
</div>  
  
<div class="container contact">
  <div class="login-right">
    <h3>Personal information</h3>
    <form class="form-user-control">
      <label for="avatar">Upload New Avatar*</label>
      <input type="text" id="username" class="form-control input-theme-default" name="username" autofocus="" />
      <label for="email">New Email Address*</label>
      <input type="email" name="email" id="email" class="form-control input-theme-default" >
      <label for="currentPassword">Current Password*</label>
      <input type="password" id="currentPassword" class="form-control input-theme-default" name="currentPassword" />
      <label for="newPassword">New Password*</label>
      <input type="password" id="newPassword"class="form-control input-theme-default" name="newPassword" />
      
      <button class="btn btn-theme-default" type="submit">Submit</button>   
    </form>
  </div>
</div>